.primary {
  background-color: red;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
  height: 2.8rem;
}
.primary:focus {
  outline: 0 !important;
}
.primary > p {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  height: 1rem;
  width: 10rem;
}

.secondary {
  background: transparent;
  border-radius: 3px;
  height: 2.8rem;
}
.secondary:focus {
  outline: 0 !important;
}

.secondary > p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  height: 1rem;
  width: 6rem;
}
